html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }
*{
    font-family: 'Concert One', cursive;
    font-weight: 800;
}
   header{
    width: 100%;
    height: 80px;
    background-color: steelblue;
}
.p-no-visibility{
    border-right: 3px solid;
    padding:0px 15px; 
}
header ul li{
    padding: 0px 15px;
    padding-top: 10px;
    display: inline-block;
    font-size: 2.5em;
    color: rgb(58, 54, 54);
    height: 100%;
    
}

.container{
    display: inline-block;
    width: 100%;
    
}
.conteiner-task{
    width: 900px;
    height: 1000px;
    margin: 40px;
    display: inline-block;
    float: left;
   
}
.task{
    width: 190px;
    height: 250px;
    border:rgb(149, 171, 185) solid 3px;
    display: block; 
    margin: 30px;
    float: left;
    padding: 10px;
    font-size: 1.3em;
    
}
#delete-buttom{
    display: inline-block;
    background-color: rgb(187, 6, 6);
    text-decoration: none;
    color:white;
    margin-top: 10px;
    padding:5px 25px;
}
#edit-buttom{
    display: inline-block;
    background-color: royalblue;
    text-decoration: none;
    color:white;
    margin-top: 15px;
    padding:5px 15px;
}
#task-name{
    text-align: center;
    font-size: 1.3em;
    background-color: dimgray;
}
.description-div{
    overflow: auto;
    width: 190px;
    height: 125px;
}
.description-div::-webkit-scrollbar{
    width: 6px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */


}
.description-div::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
}


#task-description{
    color: gray;
}
#task-priority{
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
}
.conteiner-form{
    display:block;
    width: 600px;
    height: 100%;
    background-color: lightblue;
    
}
.conteiner-form1{
    display:block;
    margin:auto;
    width: 600px;
    height: 100%;
    background-color: lightblue;
    
}
input{
    outline:solid cornflowerblue  4px;
    display: block;
    margin: 15px;
    font-size: 1.2em;
    color: black;
    border: solid cornflowerblue 1px;
}
textarea{
    width: 285px;
    height: 300px;
    resize: none;
    color: black;
    border: solid cornflowerblue 1px;
    margin: 15px;
    outline:solid cornflowerblue  4px;
    display: block;
    font-size: 1.2em;
}
.input{
    margin-top: 50px;
    width: 285px;
    height: 30px;   
}
#select-priority{
    margin: 15px;
    width: 285px;
    height: 30px;
}
.submit-buttom{
    display: block;
    font-size: 1.5em;
    background-color: rgb(48, 156, 66);
    margin: 15px;
    width: 290px;
    height: 30px;
    outline:solid rgb(48, 156, 66)  4px;
    border: solid rgb(48, 156, 66) 1px;    
}
.edit-buttom{
    display: block;
    font-size: 1.5em;
    background-color: cornflowerblue;
    margin: 15px;
    width: 290px;
    height: 30px;
    outline:solid cornflowerblue  4px;
    border: solid cornflowerblue 1px;    
}

.conteiner-edit{
    display: block;
    width: 20%;
    height:100%;
    margin:auto;
    
}